## DAY 2 - Assignment

# Task 1

In [9]:
list = [1,2,3,4,5,6]
first = []
last = []
for i in range(len(list)):
  if i < len(list)/2:     #if length is odd then, first half is smaller one 
    first.append(list[i]) #take first half 
  else:
    last.append(list[i]) #take sekond half

new_list = last + first #concat last and first
print(new_list)

[4, 5, 6, 1, 2, 3]

## Task 2

In [11]:
n = input("Please enter a digit: ")
for i in range(int(n)+1):
  if i%2==0:
    print(i)

Please enter a digit: 8
0
2
4
6
8